.custom-primary-color {
	color:grey;

}
body {
	font-family: 'Playfair Display', serif;

}

.alexbar{
	background-color:#c3cafb;
}
.alexbar1{
	background-color: #eae2de;
}
.alexfont{
	color:#c3cafb;

}

